.top {
    background-color: lightgrey;
    width: auto;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    align:center;
    text-align: center;
}
.flex-parent
{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:nowrap;
  flex-basis:1366px;
  height: auto;
}
.profile{
  border-radius: 50%;
  border: 0px solid black;
  image-resolution: from-image;
  padding: 0px;
  display: block;
  margin: auto;
  height:150px;
  width: 150px;
}
.left{
  height:auto;
  flex-basis: 470px;
  margin:5px;
  padding:0;
  margin-right: 5px;
}
.right{
  height:auto;
  flex-basis: 100%;
  border:1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
}
.body{
  background-color: #0EDCD5;
  border-style: solid;
  margin: 1px;
}
.button1{
  align-self: center;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 25px;
  border-radius: 10px;
  float:inherit;
  margin: 10px;
  padding: 20px;
  width:auto;
  height: auto;
  transition: all 1m;
  cursor:pointer;
  box-shadow: 0 5px #999;
  font-family: Algerian;
}
.button1:hover span {
  padding-right: 25px;
  background-color: #08F9F5;
  padding-bottom: 0px;
  color: blue;
}
.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00bb';
  color: black;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50;
  transition: 0.5s;
}
.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.anchor{
  text-decoration: none;
}
.h2{
  text-align: center;
}
{
    box-sizing: border-box;
}

input[type=text],[type=email],[type=mobile] ,select, textarea {
    width: 90%;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    font-size: 25px;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    font-size: 25px;
}

input[type=reset],[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 25px;
    margin: 10px;
}

input[type=submit],[type=reset]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .flex-parent
  {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap;
  }
  .left{
  height:auto;
  border: 2px solid blue;
  margin:5px;
  padding:0;
}
.right{
  height:auto;
  border:1px solid black;
}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .flex-parent
  {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    }
  .left{
  height:auto;
  border: 2px solid blue;
  margin:5px;
  padding:0;
  }
  .right{
  height:auto;
  border:1px solid black;
  margin: 20px;
  }
  .if1{
    width: 100%;
    height: 50em;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
.flex-parent
{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
.left{
  margin:5px;
  padding:0;
}
.right{
  border:1px solid black;
  margin: 20px;
}
.if1{
  width: 100%;
  height: 50em;
}
}
@media all and (max-width: 480px) {
  .flex-parent{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  .left{
  margin:5px;
  padding:0;
  }
  .right{
    height:auto ;
    border:1px solid black;
    margin:5px;
  }
  .if1{
    width: 100%;
    height: 50em;
  }
}
