.top {
    background-color: lightgrey;
    width: auto;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    align:center;
    text-align: center;
}
.flex-parent
{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap:nowrap;
  flex-basis:1366px;
  height: auto;
}
.profile{
  border-radius: 50%;
  border: 0px solid black;
  image-resolution: from-image;
  padding: 0px;
  display: block;
  margin: auto;
  height:150px;
  width: 150px;
}
.left{
  height:auto;
  flex-basis: 470px;
  margin:5px;
  padding:0;
  margin-right: 5px;
}
.right{
  height:auto;
  flex-basis: 100%;
  border:1px;
  border-style: solid;
  border-color: black;
  margin: :5px;
}
.body{
  background-color: #0EDCD5;
  border-style: solid;
  margin: 1px;
}
.button1{
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 25px;
  border-radius: 10px;
  float:inherit;
  margin: 10px;
  padding: 20px;
  width:auto;
  height: auto;
  transition: all 1m;
  cursor:pointer;
  box-shadow: 0 5px #999;
  font-family: Algerian;
}
.button1:hover span {
  padding-right: 25px;
  background-color: #08F9F5;
  padding-bottom: 0px;
  color: blue;
}
.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  content: '\00bb';
  color: black;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50;
  transition: 0.5s;
}
.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.anchor{
  text-decoration: none;
}
.h2{
  text-align: center;
}
/* @media only screen and (min-width : 320px) and (max-width: 480px) {
  .flex-parent
  {
    flex-basis:320px;
    width:100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
  }
  .left{
    height:auto;
    flex-basis: 64px;
    width:100%;
    border-right: :0px;
    border-style: solid;
    border-color: blue;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
    margin:5px;
    padding:0;
    margin-right: 5px;
  }
  .right{
    height:auto;
    flex-basis: 250px;
    width:100%;
    border:1px;
    border-style: solid;
    border-color: black;
    margin: :5px;
  }
  .button1{
    background-color: none;
    color: black;
    border: 0px solid #4CAF50;
    font-size:10px;
    font-family: times new roman;
    float:left;
}
} */
/* @media only screen and (min-width : 481px) and (max-width: 768px) {
  .flex-parent
  {
    flex-basis:768px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
  }
  .left{
    height:auto;
    flex-basis: 256px;
    border-right: :2px;
    border-style: solid;
    border-color: blue;
    border-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
    margin:5px;
    padding:0;
    margin-right: 5px;
  }
  .right{
    height:auto;
    flex-basis: 512px;
    border:1px;
    border-style: solid;
    border-color: black;
    margin: :5px;
  }
} */
/* @media only screen and (min-width : 769px) and (max-width : 1366px) {
  .flex-parent
  {
    flex-basis:320px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
  }
  .left{
  height:795px;
  flex-basis: 450px;
  border-right: :2px;
  border-style: solid;
  border-color: blue;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  margin:5px;
  padding:0;
  margin-right: 5px;
}
.right{
  height:795px;
  flex-basis: 905px;
  border:1px;
  border-style: solid;
  border-color: black;
  margin: :5px;
}
.button1{
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: ;
  border-radius: 5px;
  float:inherit;
  font-size:10px;
  margin: 7px;
  padding: 5px;
  width:auto;
  transition: all 1m;
  cursor:pointer;
  box-shadow: 0 5px #999;
  font-family: Algerian;
}
.button1:hover span {
  padding-right: 25px;
  background-color: black;
  padding-bottom: 0px;
  color: blue;
}
.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
} */
